<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.example.demo.Dao.domain.Admin">
    <resultMap id="BaseResultMap" type="com.example.demo.Dao.domain.Admin">
        <id column="id" property="id"/>
        <result column="username" property="uuid" />
        <result column="password" property="password"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_column_list"/>
        from admin
    </select>


</mapper>